@import "./_timeline.scss";
@import "./_switch.scss";

.page-wrap {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "roboto";
    overflow-y: hidden;
}
.job-explain{
    margin-right: 30px;
    h3{
        margin-top: 20px;
        align-items: center;
    }
    button{
        width: auto;
        background: white;
        outline: none;
        border: 0.2px solid grey;
        font-family: "roboto";
        font-weight: bold;
    }
    h4{
        display: flex;
        align-items: center;
        margin: 10px;
    }
    .xplogo{
        width: 30px;
        align-items: center;
        margin: 0 0 0 10px;
    }
    .job-detail{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin: 10px;
         li{
             margin: 5px 0 0 10px;
         }
    }
}

body {
    overflow: hidden;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    border-radius: 6px;
    z-index: 100;
    animation: 0.5s navLoad forwards;
    transform: translateX(-200px);
}

@keyframes navLoad {
    from {
        transform: translateX(200px);
    }

    to {
        transform: translateX(0px);
    }
}

.presentation-double {
    position: absolute;
    background-color: green;
    opacity: 0.1;
    width: 500px;
    height: 100vh;
    left: 90px;
    border-radius: 5px;
    z-index: 10;
}

.presentation {
    z-index: 10000000;
}

.bubble2 {
    width: 100px;
    height: 100px;
    border-radius: 10%;
    background-color: white;
    opacity: 0.2;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: anim2 13s infinite alternate;
}

@keyframes anim2 {
    from {
        transform: translateY(200px) rotate(20deg);
      
    }

    to {
        transform: translateY(-800px) rotate(100deg);
       
    }
}

.bubble {
    width: 100px;
    height: 100px;
    border-radius: 10%;
    background-color: white;
    opacity: 0.3;
    position: absolute;
    bottom: 0;
    animation: anim 12s infinite alternate ease-in-out;
}

@keyframes anim {
    from {
        transform: translateY(200px);
    }

    to {
        transform: translateY(-700px);
    }
}

nav {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 460px;
    background-color: white;
    padding: 20px;
    margin-right: 10px;
    

    li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px 0;
        cursor: pointer;
    }

    img {
        width: 20px;
        height: 20px;
    }
}

main {
    width: 500px;
    background-color: white;
    height: 600px;
    display: flex;
    border-radius: 5px;
    z-index: 10000;
    box-shadow: 4px 7px 20px -2px rgba(0, 0, 0, 0.48);

    .information-candidat {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        h2 {
            margin: 0px;
            font-size: 19px;
         
        }

        h1 {
            margin: 10px 0 0 0;
        }
    }

    .profil {
        width: 500px;
        height: 400px;
        overflow: hidden;
        position: relative;

        img {
            border-radius: 5px;
            zoom: -10px;
            width: 101%;
            height: 105%;
            object-fit: cover;
            clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 51% 100%, 0% 61%);
            
        }

    }

    .online-reseau {
        display: flex;
        justify-content: center;

        img {
            width: 26px;
            height: 26px;
            margin: 15px 8px 0;
            transition: 0.5s;

            &:hover {
                opacity: 0.4;
                color: red;
                overflow: hidden;
            }
        }
    }
}

aside {
    display: flex;
    justify-content: center;
    width: 0px;
    background-color: white;
    height: 550px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 100;
    animation: 1s forwards;
    overflow-x: scroll;
    overflow-y: hidden;

    h2 {}
}

@keyframes aside_Load {
    0% {
        height: 0px;
        opacity: 0;
        width: 0px;
    }

    90% {
        width: 750px;
    }

    100% {
        height: 100vh;
        opacity: 1;
        width: 700px;
    }
}

@keyframes aside_deload {
    0% {
        opacity: 1;
        width: 700px;
        height: 100vh;
    }

    100% {
        height: 0vh;
        opacity: 0;
        width: -3px;
        transform: translateY(-5px);
    }
}

.contact-bloc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 26px;
    padding: 0 1px;
    position: relative;
    .leave-message{
        z-index: 100000000000;
        position: absolute;
        width: 50px;
        height: 50px;
        left: 20px;
        bottom: 15px;
        animation: highlighter 0.5s alternate infinite;
       
            
        .img{
            object-fit: cover;
        }
    }

    a {
        display: flex;
        justify-content: center;
        border-width: 0.3px;
        border-style: solid;
        border-image: linear-gradient(to bottom, rgb(182, 244, 146), rgba(0, 0, 0, 0)) 0.5 100%;
        width: 100%;
        padding: 20px 0;
        font-family: "roboto";
        text-decoration: none;
        color: black;
        transition: 0.5s;

        &:hover {
            color: rgb(51, 139, 147);
        }
    }
}

nav.loader {
    background-color: red;
}

.fadein {
    opacity: 0;
    transition: opacity 1.5s;
    background-color: red;
}

.mode {
    position: absolute;
    top: 8px;
    left: 58px;
    text-decoration: none;
}

// parcours div //
.portFolio {
    display: none;
}

.parcour-div-main {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    animation: 4s;
    display: none;
    overflow : scroll;
    position: relative;
    

    .firstxp {
        display: flex;
        width: 100%;
        height: 400px;      
        overflow: hidden;
        margin-bottom: 30px;


        .timelinebloc {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 800px;

            .round {
                margin: 0;
            }
         

            .timeline-red {
                margin: 0 20px;
                width: 2px;
                height: 400px;
                background-color: red;
            }
        }
    }
}


// close btn

// button close
.close{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 10px;
  outline: none;
  border: none;
  box-shadow: 6px 2px 15px -8px #000000;
  z-index: 1000000000;
  transition: 0.2s;
   &:hover {
       background: #B1F092;
       opacity: 0.7;
   }

}

@keyframes highlighter {
    0%{
        transform: translateX(-5px);
    }
    100%{
        transform: translateX(+5px);
    }
}




.bonhomme{
    width: 500px;
    height: 500px;
    background-color: white;
    margin: 0 auto;
    transform: translateY(20%);
        .tete{
            position: absolute;
            width: 250px;
            height: 200px;
            border-radius: 40%;
            background-color: brown;
                .yeuxd{
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                    background: black;
                    position: absolute;
                    top: 50px;
                    left: 69px;
                }
                .yeuxg{
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                    background: black;
                    position: absolute;
                    top: 50px;
                    right:69px;
                }
                .nez{
                    height: 50px;
                    width: 100px;
                    border-radius: 50%;
                    background: brown;
                    position: absolute;
                    border: 2px solid black;
                    top: 50px;
                    left: 80px;
                }

        }
    
}